# Optional: your own IMAGIN.studio browser/CDN customer identifier.
# Leave empty to use local model illustrations and uploaded photos.
# This value is public in browser image URLs. Do not enter a private API secret.
# Configure allowed domains and licensed Indian-model coverage with the provider.
VITE_IMAGIN_CUSTOMER_KEY=
